*{
    padding: 0;
    margin: 0;
 font-family: 'Roboto', sans-serif;;
    box-sizing: border-box;
    font-size: large;
    }
 body{
    background-color: rgb(29, 27, 27);
 }


    header{
        background-color: rgb(173, 33, 33)}
        
        span{
            color: orange;
        }
    
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #img-p{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(173, 33, 33);
    }

    .imgtxt{
        text-align: center;
        margin: 2px;
        padding: 5px;
        color: black;
    }

    .imgtxt2{
        text-align: left;
        
    }

    h3{
        color: orange;
    }
    nav,a{
        text-decoration: none;
        display:inline-block ;
        margin: 0 10px;
        position: relative;
        color: orange;
    }  
    
   main{
        color: black;
        background-image: linear-gradient(rgba(0,0,0,0.75), rgba(78, 182, 95, 0.5)), url(image/banner.jpg);
        background-position:center ;
       text-align: center;
       border: 5px ;
    }
     
     .CONTACT{
        text-align: center;
     }
    .contactlinks{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
   footer{
    background-color:rgb(173, 33, 33);
   }
    
    